body {
	background-image: linear-gradient(to right,lightblue , lightgreen);
}
.main {
	background: #88E4CB;
	padding: 40px;
	display: flex;
	flex-direction: column;
	color: #1d3557;
}

.main-activities {
	display: flex;
	justify-content: space-around;
	margin: 8px auto;
}

.activity {
	padding: 8px;
	max-width: 300px;
}

.activity img {
	
	width: 320px;
	border: 2px solid #457b9d;
}

.activity img:hover {
	border: 3px solid #457b9d;
	transform: scale(1.1);
	transition: transform 200ms, border 100ms;
}

/* contact / card-section */

.contact {
	padding: 16px;
}

.card {
	max-width: 400px;
	border: 1px solid;
	margin: 50px auto;
	display: flex;
	padding: 42px;
	background-image: linear-gradient(to right, green , yellow);
	border-radius: 90px 10px 90px 10px;
	box-shadow: 0px 6px 0px #1d3557;
	align-items: center;
}

.card-img {
	width: 100px;
	border-radius: 10px;
	margin-right: 16px;
}

.card-text {
	margin-inline-start: auto;
	width: 200px;
	color: #1d3557;
}

.card-text p {
	font-style: italic;
}

/* utility */
.font-24 {
	font-size: 24px;
}

.font-16 {
	font-size: 16px;
}
